.content {
	display: flex;
	align-items: center;
	justify-content: center;
}
.Owner {
	border: 1px solid black;
	width: 100%;
	height: 20%;
	border-radius: 5px;
    
}
.Homestay {
	border: 1px solid rgb(144, 28, 28);
	width: 100%;
	height: 40%;
	border-radius: 5px;
}
.yo{
    padding: 5px;
}
