.header {
	width: 100%;
	height: 30px;
	background-color: blueviolet;
	display: flex;
}
.nut {
	margin-top: 5px;
	margin-left: 5px;
	border: none;
	background-color: transparent;
	color: white;
}
.left {
	width: 50%;
	height: 30px;
}
.right {
	width: 50%;
	height: 30px;

	justify-content: end;
	display: flex;
	align-items: center;
}
.nut-1 {
	border: none;
	background-color: transparent;
	color: white;
}
.nut-2 {
	border: none;
	background-color: transparent;
	color: rgb(4, 4, 4);
}
.login-page {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.login {
	border-radius: 8px;
	background-color: rgb(226, 218, 218);
}
.login-1 {
	border-radius: 8px;
	background-color: rgb(226, 218, 218);
	width: 80px;
	color: rgb(97, 170, 238);
}
.register-page {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.register {
	border-radius: 8px;
	background-color: rgb(226, 218, 218);
}
.register-1 {
	border-radius: 8px;
	background-color: rgb(226, 218, 218);
	width: 80px;
	color: rgb(97, 170, 238);
}
.midder {
	width: 100%;
	height: 30px;
	display: flex;
}
.user {
	width: 100%;
	height: 100%;
	display: flex;
}
.left-1 {
	width: 30%;
	height: 100%;
	margin-top: 10px;
}
.right-1 {
	width: 70%;
	height: 100%;
}
.search-input {
	border-radius: 8px;

	margin-top: 5px;
}
.search-input1 {
	border-radius: 8px;
	margin-left: 4px;
	margin-top: 5px;
	background-color: blueviolet;
	border: 1px solid blueviolet;
	color: white;
}
.add-user {
	border-radius: 5px;
	margin-top: 10px;
	border: none;
	background-color: transparent;
}
.edit-button {
	border: 1px solid blue;
	background-color: blue;
    border-radius: 8px;
	color: white;
	
}
